.mainContainer {
  width: 100%;
  height: 700spx;
  display: flex;
  background-image: linear-gradient(to bottom, #111111, #333333, #111111);
}

.leftContainer {
  color: white;
  display: flex;
  justify-content: center;
  width: 20%;
  height: 700px;
  background-image: linear-gradient(to bottom, #050505, #222222, #050505);
}

.middleContainer {
  color: white;
  display: block;
  justify-content: center;
  width: 60%;
  height: 700px;
}
.rightContainer {
  color: white;
  display: flex;
  justify-content: center;
  width: 20%;
  height: 700px;
  background-image: linear-gradient(to bottom, #050505, #222222, #050505);
}
